*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    text-size-adjust: none;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 1.65;
}

main {
    margin: 1rem 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a:link {
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

ul,
ol,
li {
    list-style-type: none;
}

sup {
    font-size: 0.55rem;
}


/* WIKIPEDIA NAVIGATION BAR */
nav {
    width: 100%;
    height: 3.5rem;
    padding: 0 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 4px -2px, rgba(0, 0, 0, 0.3) 0px 1px 4px -3px;
}
.wiki-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.wiki-logo img {
    height: 2.5rem;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 0.05rem solid hsla(0, 0%, 0%, 0.5);
    width: 30vw;
    height: 1.75rem;
}
.placeholder {
    flex: 4;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
    color: hsla(0, 0%, 0%, 0.5);
    transition: all 200ms ease-in-out;
}
.placeholder svg {
    width: 18px;
    height: 18px;
}
.placeholder:hover {
    color:hsla(0, 0%, 0%, 0.75)
}
.search-bar > a {
    flex: 1;
    display: grid;
    place-items: center;
    height: 1.75rem;
    background-color: hsla(0, 0%, 91%, 0.5);
    border: 0.05rem solid hsla(0, 0%, 0%, 0.5);
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    transition: all 200ms ease-in-out;
}
.search-bar > a:link:hover {
    text-decoration: none;
    background-color: hsla(0, 0%, 91%, 0.85);
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav svg {
    height: 24px;
    width: 24px;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
}

/* NAVIGATION STYLING    NAVIGATION STYLING */
#navigation,
#appearance {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    background-color: hsl(0, 0%, 95%);
    padding: 1rem;
    border-radius: 0.25rem;
    position: sticky;
    top: 1rem;
    flex: 1;
}

#navigation h1,
#appearance h1 {
    padding: 0 0 0.1rem;
    border-bottom: 2px solid hsl(0, 0%, 0%);
    font-size: 1.125rem;
}

/* MAIN ARTICLE   MAIN ARTICLE   MAIN ARTICLE  */

.main-article {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#wiki-topic {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

#wiki-topic .source {
    font-size: 0.8rem;
    font-weight: 600;
}

.inserted {
    padding: 0.25rem 2.5rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 0.2rem;
}

/* MAIN INFO  */
.main-info,
#name,
#general-concept {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.main-info p,
#name p,
#general-concept p {
    text-align: justify;
}

#content .main-article h2 {
    border-bottom: solid 1.5px hsl(0, 0%, 0%);
    border-radius: 0.1rem;
}

#general-concept .inserted {
    margin: 0.25rem 0;
}

.para-and-table {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}
.main-info {
    flex: 2;
}
table {
    border: 0.25px solid hsla(0, 0%, 0%, 0.5);
    border-radius: 0.2rem;
    padding: 0.3rem;
    flex: 1;
}

table tr th {
    width: 35%;
}

th, td {
    text-align: left;
}

table tr td img {
    width: 80%;
}

.table-header {
    text-align: center;
    background-color: #E6E6FA;
}